@define-color background rgba(30, 30, 46, 0.90);
@define-color white #cdd6f4;
@define-color black #1e1e2e;
@define-color color1 #cba6f7;
@define-color color2 #b4befe;
@define-color color3 #89b4fa;
@define-color color4 #74c7ec;
@define-color color5 #89dceb;
@define-color warning #fab387;
@define-color critical #f38ba8;