button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #cdd6f4;
}

#workspaces,
#window {
    margin: 0 12px;
    color: #cdd6f4;
    border-radius: 0px;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 0;
    background-color: transparent;
    color: #cdd6f4;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}


#workspaces button.visible {
    box-shadow: inset 0 -3px #cba6f7;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #cdd6f4;
}

#workspaces button.urgent {
    box-shadow: inset 0 -3px #f38ba8;
}